/Server/build/
/Server/dist/
/Server/nbproject/
/soprapp/nbproject/private/
/soprapp/build/
/soprapp/dist/
/webapp/nbproject/project.properties
/webapp/nbproject/private/
/webapp/build/
/webapp/dist/
/client/nbproject/private/
/client/build/
/client/dist/
/httpcomponents-client-4.5.1
